.benefits {
	background: url('../images/benefits-bg.jpg') center no-repeat;
	color: $white;
	font-weight: 300;

	&__mask {
		height: 100%;
		background: rgba(50, 50, 50, 0.65);
	}

	&__title {
		padding-top: 70px;
		margin-bottom: 50px;
		font-size: 2.5rem;
		font-weight: 600;
		text-align: center;

		@media (max-width: $screen-sm) {
			padding-top: 35px;
			margin-bottom: 25px;
			font-size: 1.8rem;
		}

	}

	&__row {
		display: flex;
		flex-wrap: wrap;
		padding-bottom: 70px;

		@media (max-width: $screen-sm) {
			padding-bottom: 20px;
		}
	}

	&__item {
		width: 33.33333%;
		text-align: center;

		@media (max-width: $screen-sm) {
			width: 100%;
			margin-bottom: 30px;
		}
	}

	&__icon {
		width: 110px;
		height: 110px;
		fill: $white;
		transition: $basic-transition linear;

		@media (max-width: $screen-sm) {
			width: 80px;
			height: 80px;
		}

		&:hover {
			fill: $pink;
		}
	}

	&__subtitle {
		font-size: 1.3rem;
		font-weight: 500;

		@media (max-width: $screen-sm) {
			font-size: 1rem;
		}
	}
}