.button {
	display: inline-block;
	font-size: .875rem;
	padding: 15px 30px;
	margin-bottom: 200px;
	text-decoration: none;
	text-transform: uppercase;
	color: $white;
	background-color: $pink;
	border-radius: 4px;
	transition: $basic-transition linear;

	@media (max-width: $screen-sm) {
		padding: 15px 30px;
		margin-bottom: 0;
		font-size: .7rem;
	}

	&:hover {
		background-color: black;
	}
}