.contact {
	&__row {
		display: flex;
		flex-wrap: wrap;
		padding-bottom: 50px;
		text-align: center;

		@media (max-width: $screen-sm) {
			padding-bottom: 25px;
		}
	}

	&__item {
		width: 24%;
		margin: 0 auto;
		border: 2px $pink solid;
		padding: 20px 10px;

		@media (max-width: $screen-xl) {
			width: 48%;
			margin-bottom: 20px;
		}

		@media (max-width: $screen-xs) {
			margin-bottom: 10px;
		}

		@media (max-width: 374px) {
			width: 100%;
		}
	}

	&__icon {
		width: 80px;
		height: 80px;
		margin-bottom: 10px;
		transition: $basic-transition linear;

		@media (max-width: $screen-sm) {
			width: 60px;
			height: 60px;
		}

		&:hover {
			fill: $pink;
		}

	}

	&__subtitle {
		margin-bottom: 10px;
		font-size: 1.3rem;
		font-weight: 500;

		@media (max-width: $screen-sm) {
			font-size: 1rem;
		}
	}

	&__info {
		text-decoration: none;
		color: black;
		transition: $basic-transition linear;

		&:hover {
			color: $pink;
		}
	}


}