.gallery {

	&__container {
		margin-bottom: 70px;
	}

	&__wrapper {
		overflow: hidden;
	}

	&__item {
		width: auto;
		height: 390px;
		overflow: hidden;
		margin-bottom: 5px;

		background-color: $pink;
	}

	&__image {
		width: 100%;
		max-width: 390px;
		max-height: 390px;
		margin: 0 auto;
		padding: 0 15px;

		transition: opacity .1s linear;

		&:hover {
			opacity: .4;
		}
	}


}