.intro {
	height: 750px;
	background: url('../images/bg1.jpg') center no-repeat;

	@media (max-width: $screen-md) {
		background: url('../images/bg1.jpg') 1300px 0 repeat-x;
	}

	@media (max-width: $screen-sm) {
		height: 650px;
		background: url('../images/bg1.jpg') 1100px 0 repeat-x;
	}

	@media (max-width: $screen-sm) {
		height: 500px;
		background: url('../images/bg1.jpg') 900px 0 repeat-x;
	}



	&__inner {
		position: relative;
		top: 50px;
		display: flex;
		justify-content: space-between;
		margin-bottom: 150px;
		padding: 35px 30px;
		background-color: rgba(255, 255, 255, 0.8);

		@media (max-width: $screen-md) {
			top: 30px;
			padding: 25px 20px;
		}

		@media (max-width: $screen-sm) {
			margin-bottom: 80px;
			padding: 15px 10px;
		}
	}

	&__text {
		max-width: 50%;

		@media (max-width: $screen-sm) {
			max-width: 100%;
			padding: 60px 50px;
			text-align: center;
			background-color: rgba(255, 255, 255, 0.8);
		}

		@media (max-width: $screen-sm) {
			padding: 30px 25px;
		}

		@media (max-width: $screen-xxs) {
			padding: 10px 10px;
		}
	}

	&__title {
		margin-bottom: 20px;
		font-size: 4rem;
		font-family: 'Playfair Display', serif;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 10px;

		@media (max-width: $screen-md) {
			font-size: 2.5rem;
		}

		@media (max-width: $screen-sm) {
			font-size: 2rem;
		}

		@media (max-width: $screen-xs) {
			font-size: 1.5rem;
		}

		@media (max-width: $screen-xxs) {
			font-size: 1.1rem;
		}

	}

	&__subtitle {
		margin-bottom: 80px;
		font-size: 1.5rem;
		font-weight: 400;

		@media (max-width: $screen-md) {
			margin-bottom: 50px;
			font-size: 1.1rem;
		}

		@media (max-width: $screen-sm) {
			margin-bottom: 30px;
			font-size: .9rem;
		}
	}
}