.intro {
	background: url('../images/bg1.jpg') center no-repeat;

	@media (max-width: $screen-md) {
		background: url('../images/bg1.jpg') 1300px 0 repeat-x;
	}

	@media (max-width: $screen-sm) {
		height: 650px;
		background: url('../images/bg1.jpg') 1100px 0 repeat-x;
	}

	@media (max-width: $screen-sm) {
		height: 500px;
		background: url('../images/bg1.jpg') 900px 0 repeat-x;
	}

	.container {
		@media (max-width: $screen-sm) {
			height: 100%;
			background: rgba(224, 219, 217, 0.7);
		}

	}

	&__inner {
		position: relative;
		top: 50px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 150px;
		padding: 0 30px;
		background-color: rgba(255, 255, 255, 0.8);

		@media (max-width: $screen-md) {
			top: 30px;
		}

		@media (max-width: $screen-sm) {
			margin-bottom: 80px;
			padding: 0 10px;
		}
	}

	&__logo {
		transition: $basic-transition linear;

		&:hover {
			opacity: .55;
		}
	}

	&__text {
		max-width: 60%;

		@media (max-width: $screen-sm) {
			max-width: 100%;
			padding: 30px 25px;
			text-align: center;
		}

		@media (max-width: $screen-xxs) {
			padding: 10px 10px;
		}
	}


	svg {
		max-height: 80px;
	}

	text {
		font-family: 'HouseCasual';
		font-size: 5rem;
	}


	&__title {
		margin-bottom: 20px;
		font-size: 5rem;
		letter-spacing: 10px;


		@media (max-width: $screen-md) {
			font-size: 2.5rem;
		}

		@media (max-width: $screen-sm) {
			font-size: 2rem;
		}

		@media (max-width: $screen-xs) {
			font-size: 1.5rem;
		}

		@media (max-width: $screen-xxs) {
			font-size: 1.1rem;
		}

	}

	&__subtitle {
		margin-bottom: 30px;
		color: black;
		font-size: 1.5rem;
		font-weight: 400;

		@media (max-width: $screen-md) {
			font-size: 1.3rem;
		}

		@media (max-width: $screen-xs) {
			font-size: 1.1rem;
		}
	}
}