.intro {
	background: url('../images/bg1.jpg') center no-repeat;
	padding-top: 80px;

	@media (max-width: $screen-md) {
		background: url('../images/bg1.jpg') 1300px 0 repeat-x;
	}

	@media (max-width: $screen-sm) {
		height: 650px;
		background: url('../images/bg1.jpg') 1100px 0 repeat-x;
	}

	@media (max-width: $screen-sm) {
		height: 500px;
		background: url('../images/bg1.jpg') 900px 0 repeat-x;
	}

	.container {
		@media (max-width: $screen-sm) {
			height: 100%;
			background: rgba(224, 219, 217, 0.6);
		}

	}

	&__inner {
		position: relative;
		top: 50px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 150px;
		padding: 0 30px;
		background-color: rgba(255, 255, 255, 0.8);

		@media (max-width: $screen-md) {
			top: 30px;
		}

		@media (max-width: $screen-sm) {
			margin-bottom: 80px;
			padding: 0 10px;
		}
	}

	&__logo {
		transition: $basic-transition linear;

		&:hover {
			opacity: .55;
		}
	}

	&__burger {
		display: none;

		@media (max-width: $screen-sm) {
			display: block;
			position: relative;
			width: 30px;
			height: 20px;
			margin-right: 15px;
		}

		span {
			position: absolute;
			left: 0;
			top: 9px;
			width: 100%;
			height: 2px;
			background-color: black;
			transition: $basic-transition ease;
		}

		&::before,
		&::after {
			content: '';
			position: absolute;
			left: 0;
			width: 100%;
			height: 2px;
			background-color: black;
			transition: $basic-transition ease;
		}

		&::before {
			top: 0;
		}

		&::after {
			bottom: 0;
		}

		&.active::before {
			transform: rotate(45deg);
			top: 9px;
		}

		&.active::after {
			transform: rotate(-45deg);
			bottom: 9px;
		}

		&.active span {
			transform: scale(0);
		}
	}

	&__text {
		max-width: 60%;
		padding-top: 200px;

		@media (max-width: $screen-sm) {
			max-width: 100%;
			padding: 100px 25px;
			text-align: center;
		}

		@media (max-width: $screen-xxs) {
			padding: 80px 10px;
		}
	}





	&__wrapper {
		max-width: 180px;


		@media (max-width: $screen-sm) {
			margin: 0 auto;
		}

		svg {
			max-height: 80px;
		}

		text {
			font-family: 'HouseCasual';
			font-size: 5rem;
		}
	}

	&__subtitle {
		margin-bottom: 30px;
		color: black;
		font-size: 1.5rem;
		font-weight: 400;

		@media (max-width: $screen-md) {
			font-size: 1.3rem;
		}

		@media (max-width: $screen-xs) {
			font-size: 1.1rem;
		}
	}
}