.page-header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
	background-color: $white;

	&__inner {

		display: flex;
		justify-content: space-between;
		align-items: center;

	}

	&__phone-icon {
		width: 20px;
		height: 20px;
		margin-right: 0.4rem;
		fill: black;
		transition: $basic-transition linear;

		@media (max-width: $screen-sm) {
			width: 25px;
			height: 25px;
			margin-left: 15px;
		}

		&:hover {
			fill: $pink;
		}
	}

	&__phone {
		text-decoration: none;
		transition: $basic-transition linear;
		color: $basic;

		@media (max-width: $screen-sm) {
			display: none;
			font-size: 1.2rem;
		}

		&:hover {
			color: $pink;
		}
	}


}

.nav {
	display: flex;
	align-items: center;

	& a {
		height: 24px;
	}

	& svg {
		width: 24px;
		height: 24px;
		transition: $basic-transition linear;

		@media (max-width: $screen-md) {
			width: 35px;
			height: 35px;
		}

		&:hover {
			fill: $pink;
		}
	}

	&__social {
		display: flex;
		justify-content: center;

		@media (max-width: $screen-md) {
			padding-bottom: 30px;
		}


	}


}